.wrapper {
  background: rgb(71, 71, 71);
  min-height: 100vh;
}
nav {
  background: rgba(0, 0, 0, 0.579);
}

.hero {
  position: relative;
  min-height: 80vh;
  /* background: url('https://www.omdbapi.com/src/poster.jpg'); */
}
.hero-content {
  max-width: 490px;
}
